.contain {
  background: none repeat scroll 0 0 #f0f3f4;
  position: absolute;
  left: 200px;
  right: 0;
  top: 66px;
  bottom: 0;
  width: auto;
  padding: 25px 40px 25px 40px;
  box-sizing: border-box;
  overflow-y: auto;
}
