.el-col {
  margin-bottom: 16px;
  text-align: center;
}
.el-icon-loading {
  font-size: 80px;
  color: #ddd;
}
.box-card {
  height: 110px;
}
.cart-string {
  height: 100px;
  padding-top: 10px;
  font-size: 1.1rem;
}
.box-chart {
  height: 420px;
}
.box-list {
  height: auto;
  text-align: left;
}
.box-list hr {
  height: 1px;
  border: none;
  border-top: 1px dashed #ccc;
  margin-bottom: 5px;
  margin-top: 6px;
}
